.custom-tree {
    padding: 0;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
  }
  .custom-tree .ant-tree-node-content-wrapper {
    padding: 11px ;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    color: #264854;
    font-size: xx-large;
  }
  .custom-tree .ant-tree-node-content {
    color: #fff;
  }
  
  .custom-tree .ant-tree-node-selected .ant-tree-node-content-wrapper {
    background-color: #fff;
    color: #44d450;
  }
  .custom-tree .ant-tree-switcher {
    /* color: #29dc29; */
    color: rgb(32, 140, 126);

  }
  .custom-tree .ant-tree-switcher-icon {
    transform: scale(2.5);
  }
  .custom-tree .ant-tree-node-content-wrapper:hover {
    background-color: rgb(47, 58, 77);
    color: #29dc29;
  }