.text-gradient {
    position: relative;
    display: inline-block;
    perspective: 1000px;
    font-size: 24px;
    background: #000;
  }
  
  @keyframes animate-gradient {
    0% {
      transform: translateZ(0) rotateY(0);
    }
    100% {
      transform: translateZ(-500px) rotateY(360deg);
    }
  }
  
  .animate-gradient::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    transform: translateZ(100px);
    opacity: 0;
    animation: animate-gradient 4s linear infinite;
  }
  